/* LibreBaskerville */
@font-face {
    font-family: 'LibreBaskerville';
    src: url('file-path') format('woff2');
    font-weight: 400;
    font-style: normal;
};

@font-face {
    font-family: 'LibreBaskerville';
    src: url('file-path') format('woff2');
    font-weight: 700;
    font-style: normal;
};

/* Montserrat */
