.hero-container {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.hero-heading-text{
    font-size: 150px;
    font-family: var(--font-primary-Bold);
    color: var(--color-secondary);
}