.btn {
	font-family: var(--font-secondary);
	font-size: 14px;
	font-weight: 700;
    padding: 0 24px;
    border-radius: 999px;
}

.btn-default {
    height: 51px;
}

.btn-sm {
	height: 45px;
}

.btn-outline {
	border: 1px solid var(--color-primary);
	background: transparent;
    color: var(--color-primary);
}

.btn-filled {
	background-color: var(--color-secondary);
    color: var(--color-primary);
}
