.btn {
	font-size: 14px;
	font-weight: 700;
    padding: 0 24px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid;
}

.btn-default {
    height: 51px;
}

.btn-sm {
	height: 45px;
}

.btn-outline {
	border-color: var(--color-primary);
	background: transparent;
    color: var(--color-primary);
}

.btn-filled {
    border-color: var(--color-secondary);
	background-color: var(--color-secondary);
    color: var(--color-primary);
}
