.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    height: 17px;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 56px;
    text-decoration: none;

}

.nav-list li {
    margin: 0;
    text-decoration: none;

}

.nav-list a {
    text-decoration: none;
    color: var(--color-offWhite);
    font-size: 14px;
}
.nav-list a:hover {
    color: var(--color-black);
}